<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="myUserLabel">
                Create or edit a User
            </h2>
            <div>
                <ace-alert-error></ace-alert-error>
                <div class="form-group" [hidden]="!user.id">
                    <label>ID</label>
                    <input type="text" class="form-control" name="id"
                        [(ngModel)]="user.id" readonly>
                </div>

                <div class="form-group">
                    <label class="form-control-label">Login</label>
                    <input type="text" class="form-control" name="login" #loginInput="ngModel"
                        [(ngModel)]="user.login" required minlength="1" maxlength="50" pattern="^[_.@A-Za-z0-9-]*$">

                    <div *ngIf="loginInput.dirty && loginInput.invalid">
                        <small class="form-text text-danger"
                        *ngIf="loginInput.errors.required">
                            This field is required.
                        </small>

                        <small class="form-text text-danger"
                        *ngIf="loginInput.errors.maxlength"
                       >
                            This field cannot be longer than 50 characters.
                        </small>

                        <small class="form-text text-danger"
                        *ngIf="loginInput.errors.pattern">
                            This field can only contain letters, digits and e-mail addresses.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label">First Name</label>
                    <input type="text" class="form-control" name="firstName" #firstNameInput="ngModel"
                        [(ngModel)]="user.firstName" maxlength="50">

                    <div *ngIf="firstNameInput.dirty && firstNameInput.invalid">
                        <small class="form-text text-danger"
                        *ngIf="firstNameInput.errors.maxlength"
                       >
                            This field cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label>Last Name</label>
                    <input type="text" class="form-control" name="lastName" #lastNameInput="ngModel"
                        [(ngModel)]="user.lastName" maxlength="50">

                    <div *ngIf="lastNameInput.dirty && lastNameInput.invalid">
                        <small class="form-text text-danger"
                        *ngIf="lastNameInput.errors.maxlength"
                       >
                            This field cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label">Email</label>
                    <input type="email" class="form-control" name="email" #emailInput="ngModel"
                        [(ngModel)]="user.email" minlength="5" required maxlength="254" email>

                    <div *ngIf="emailInput.dirty && emailInput.invalid">
                        <small class="form-text text-danger"
                        *ngIf="emailInput.errors.required">
                            This field is required.
                        </small>

                        <small class="form-text text-danger"
                        *ngIf="emailInput.errors.maxlength"
                       >
                            This field cannot be longer than 100 characters.
                        </small>

                        <small class="form-text text-danger"
                        *ngIf="emailInput.errors.minlength"
                       >
                            This field is required to be at least 5 characters.
                        </small>

                        <small class="form-text text-danger"
                        *ngIf="emailInput.errors.email">
                            Your email is invalid.
                        </small>
                    </div>
                </div>
                <div class="form-check">
                    <label class="form-check-label" for="activated">
                        <input class="form-check-input" [disabled]="user.id === null" type="checkbox" id="activated" name="activated" [(ngModel)]="user.activated">
                        <span>Activated</span>
                    </label>
                </div>

                <div class="form-group">
                    <label>Profiles</label>
                    <select class="form-control" multiple name="authority" [(ngModel)]="user.authorities">
                        <option *ngFor="let authority of authorities" [value]="authority">{{authority}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span
                   >Cancel</span>
                </button>
                <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
